<p id="notice"><%= notice %></p>

<h1>
  <%= link_to @user.name, @user %>:
</h1>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Grass Tags:</strong>
  <%= @post.grass_tags %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @likes.where(post_id: @post.id).count %>
</p>
<% if current_user && current_user.id == @user.id %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Destroy', 'posts#destroy' %> |
<% else %>
  <% if current_user && @likes.where(user_id: current_user.id).pluck(:post_id).include?(@post.id.to_s) %>
    <%= link_to 'Unlike', "/user_likes/#{@post.id}/destroy" %>
  <% else %>
    <%= link_to 'Like', "/user_likes/#{@post.id}/create" %>
  <% end %>
<% end %>

<%= link_to 'Back', posts_path %>
